.mainTitle {
    margin-left: 15px;
}

.list {
    margin-left: 15px;
    list-style: none;
}

.item {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.item:hover,
.item:focus {
    color: #da7ad0;
}